---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Services from '../components/Services.astro'
import Sectors from '../components/Sectors.astro'
import Coverage from '../components/Coverage.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import PhotoReference from '../components/PhotoReference.astro'
---

<Layout>
  <Navbar />
  <main id="main-content">
    <Hero />
    <About />
    <Services />
    <Sectors />
    <Coverage />
    <!-- TODO: eliminar PhotoReference antes del deploy final -->
    <PhotoReference />
    <Contact />
  </main>
  <Footer />
</Layout>
